<!-- <a routerLink="/home">Home |  </a>
<a routerLink="/auth/register">Register |  </a>
<a routerLink="/auth/login">Login |  </a>
<a routerLink="/admin/dashboard">Dashboard |  </a>
<a routerLink="/logout">Logout</a> -->

<mat-toolbar color="primary">
    <span class="gap">Shopping</span>
    <span><a class="menu-spacer" routerLink="/home" routerLinkActive="active-link">Home</a></span>
    <span><a class="menu-spacer" routerLink="/auth/register" routerLinkActive="active-link">Register</a></span>
    <span><a class="menu-spacer" routerLink="/auth/login" routerLinkActive="active-link">Login</a></span>
    <span><a class="menu-spacer" routerLink="/admin/dashboard" routerLinkActive="active-link">Dashboard</a></span>
    <span><a class="menu-spacer" routerLink="/auth/logout" routerLinkActive="active-link">Logout</a></span>
</mat-toolbar>